body{
   background-color: #C9DCDA; 
}
.color1{
    background-color: #324A71;
}

.blanco{
 color: white;   
}

.titulo{
 font-family: fantasy;
    text-shadow: 4px 4px 4px whitesmoke;
    color: #324A71;   
}

.texto{
    font-family: 'Duru Sans', sans-serif;
    text-shadow: 4px 4px 4px whitesmoke;
    color: black;
}
.ancho1{
    width: 95%;
}
.ancho2{
    width: 100%;
}
.ancho60{
    width: 60%;
}
.juntar{
    display: inline-block;
    vertical-align: top;
}

.adaptar{
    width: 100%;
}
.center{
    margin: 0.1em auto;
}

.margen_izquierdo{
    margin-left: 1em;
}

.margen_izquierdo2{
    margin-left: 2em;
}

.margen_top1{
    margin-top: 1%;
}

.margen_top2{
    margin-top: 2%;
}
.margen_top3{
    margin-top: 5%;
}
.margen_top4{
    margin-top: 8%;
}
.adaptar{
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    
}

.centrar{
    text-align: center;
}
.justificar{
    text-align: justify;
}
.subrayar{
    text-decoration: underline;
}

.textoNav{
    font-family: 'Duru Sans', sans-serif !important;
    color: white !important;
}

.textoNav:hover{
    font-family: 'Duru Sans', sans-serif !important;
    color: black !important;
}

@media screen and (min-width:798px)/*Para resoluciones mayores que una tablet*/ {
    .backgroungElementsNav{
        border: 0.1em solid white;
    }
}

.backgroungElementsNav:hover{
    background-color: #e7e7e7;
    border: 0.1em solid white;
}

@media screen and (min-width:798px)/*Para resoluciones mayores que una tablet*/ {
    .anchoNav{
        width: 80%;
    }
    .anchoNavElement{
        width: 13%;
       
    }
    .overflowHidden{
        overflow: hidden;
    }
    .centerNav{
        text-align: center;
    }
}

.color5{
    background-color: red;
}

.color6{
    background-color: 324A71;
}

.alturaEjemplo{
    height: 300px;
}

#container {
    height: 100%;
    position: relative;
}

#header{
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 1;
}

#content{
    width: 100%;
    position: relative;
    z-index: 0;
}

#footer{
    width: 100%;
    position: absolute;
}